extends layout
block header
  a(href="/" class="site-logo")
    object(type="image/svg+xml" data="../images/logo_animated2.svg")
  a(href="#main-nav" data-nav="#main-nav" class="nav-button no-jump active")
    svg(class="icon")
      use(xlink:href="../../images/icons.svg#menu")
  a(href="/" class="site-logo")
    object(type="image/svg+xml" data="../images/icons.svg")
  nav
    ul(id="main-nav" class="nav nav--main expander--open nav--desktop")
      li
        a(class="nav-link" href="#intro") Intro
      li
        a(class="nav-link" href="#code") Code
      li
        a(class="nav-link" href="#design") Design
      li
        a(class="nav-link" href="#marketing") Business
      li
        a(class="nav-link" href="#workstudies") Timeline
block intro
  .intro.grid.grid--gutter
    .intro__image
      img(src="../images/tuomaslouekari.jpg" alt="Tuomas Louekari")
      h1.h1= title
      p A curious generalist doing good stuff for good people.
    .intro__summary
      h2.h2 Skills
      ul
        li.skill
          h3.h3 C & GoLang
          p I'm currently studying at Hive Helsinki and learning fast.
        li.skill
          h3.h3 Graphic Design
          p With 15 years of hands-on experience I know how to visualize a message.
        li.skill
          h3.h3 Web development
          p SASS, ProcessWire and PHP have been my main tools so far and I've published over 100 websites. Right now I'm interested in modern web tech – this website is my first dabble into Node.js.
        li.skill
          h3.h3 Marketing & Business
          p I've run my own marketing agency since 2008 and I've seen things you people wouldn't believe.
        li.skill
          h3.h3 Hobbies
          p More coding, carpentry and tinkering, exploration, volunteer work, gardening, PnP RPGs, boardgame design and reggaeton.
    .bottomleft
      p.
        This design nods to:<br />
        Dieter Rams<br />
        Syd Mead<br />
        Space Odyssey 2001
    .bottomright
      p Lorem
block code
  .code.grid.grid--gutter
    .code__copy.wysiwyg
      h2.h2 You know nothing Jon Snow
      p Before Hive I had mostly done frontend markup, CSS/SASS, simple PHP and some experiments in C# and JS. Very soon I understood how little I really knew about actual programming.
      p In one year of studying I've learned more than I thought was even possible. To build a strong foundation, we started from the very basics of computer science and C. In a matter of months, we were implementing algorithms and building libraries.
      p Right now I'm in the part of the learning curve where it's apparent that there's a LOT to do and prioritise. What could be more fun?
    .code__snippet
      pre.
        char		    *helper_itoa_base(intmax_t value, int base, t_printf *data)
        {
          char      *s;
          intmax_t	n;
          int       i;
          int       caps;

          caps = 10;
          if (data->bx == 1)
            caps = 42;
          n = (value < 0) ? -value : value;
          i = 1;
          while ((n /= base) >= 1)
            i++;
          s = (char*)malloc(sizeof(char) * (i + 1));
          s[i] = '\0';
          n = (value < 0) ? -value : value;
          while (i--)
          {
            s[i] = (n % base < 10) ? n % base + '0' : n % base + 'a' - caps;
            n /= base;
          }
          return (s);
        }       
block design
  .design.grid.grid--gutter
    .design__copy.wysiwyg
      h2.h2 Design
      p My approach to design is to convey a message in a usable and attractive package. Graphic design, while a creative discipline, is not art. It's about reaching your tribe.
      p I argue that design thinking applies to almost everything we create. My process is a delightful mixture of experience, teamwork and use of right tools — all 
    .design__gallery
      ul.gallery
        li.gallery__item
          a(href="../images/post_valentines.jpg" data-lightbox="#lightbox" data-lightbox-slide="0")
            img(class="gallery__image" src="../images/post_valentines.jpg")
        li.gallery__item
          a(href="../images/11_ky.jpg" data-lightbox="#lightbox" data-lightbox-slide="1")
            img(class="gallery__image" src="../images/11_ky.jpg")
      #lightbox.lightbox
        ul.lightbox__content
          li.lightbox__image
            img(src="../images/post_valentines.jpg" alt="Tuomas Louekari")
          li.lightbox__image
            img(src="../images/11_ky.jpg" alt="Tuomas Louekari")
        button(class="lightbox__prev" data-lightbox="#lightbox" data-lightbox-slide="prev")
          svg(class="icon")
            use(xlink:href="../images/icons.svg#prev")
        button(class="lightbox__next" data-lightbox="#lightbox" data-lightbox-slide="next")
          svg(class="icon")
            use(xlink:href="../images/icons.svg#next")
        button(class="lightbox__close" data-lightbox="#lightbox")
          svg(class="icon")
            use(xlink:href="../images/icons.svg#close")

block marketing
  .marketing.grid.grid--gutter
    .marketing__copy.wysiwyg
      h2.h2 Marketing & Business
      p I believe that marketing has to start from authenticity. For me, a truly successful company is one that speaks from the heart internally and to their customers.
      h3.h3 Case study: Wefixit
      p Wefixit is a fresh device repair shop heavy on circular economy and sustainable electronics. I started working on their strategy, visual identity, website and digital marketing.
      p I came up with a tagline "Ystävällinen laitehuoltosi" which translates roughly to "Your friendly neighborhood device repair shop". It made sense for a small business to first grow locally. Strategy worked too – Wefixit has great reviews from their customers and business is good.
      p Wefixit ads on Google and Facebook brought in five euro per one euro spent.
      p For more references see my company's <a href="https://planetoidi.com" target="_blank">website.</a> 
    .marketing__image
      img(src="../images/11_ky.jpg" alt="Tuomas Louekari")

block workstudies
  h2.h2 Professional timeline
  ul
    li 2001 - Graduated from Vuosaari lukio
    li 2008 - BA from Laurea University of Applied Sciences
    li 2008 - Founded Planetoidi
    li 2019 - Started studying in Hive Helsinki