extends layout
block header
  a(href="/" class="site-logo")
    object(type="image/svg+xml" data="../images/logo_animated.svg")
  a(href="#main-nav" data-nav="#main-nav" class="nav-button no-jump active")
    svg(class="icon")
      use(xlink:href="images/icons.svg#menu")
  nav
    ul(id="main-nav" class="nav nav--main expander--open nav--desktop")
      li
        a(class="nav-link" href="#intro") Intro
      li
        a(class="nav-link" href="#code") Code
      li
        a(class="nav-link" href="#design") Design
      li
        a(class="nav-link" href="#marketing") Business
      li
        a(class="nav-link" href="#experimental") Experimental
      li
        a(class="nav-link" href="#workstudies") Timeline
block intro
  .intro.grid.grid--gutter
    .intro__image
      img(src="../images/tuomaslouekari.jpg" alt="Tuomas Louekari")
      h1.h1= title
      p A curious generalist doing good stuff for good people.
    .intro__summary
      h2.h2 Skills
      ul
        li.skill
          h3.h3 C & GoLang
          p I'm currently studying in Hive Helsinki and learning fast.
        li.skill
          h3.h3 Graphic Design
          p With 15 years of hands on experience I know how to visualize a message.
        li.skill
          h3.h3 Web development
          p SASS, ProcessWire and PHP have been my main tools so far and I've published over 100 websites. Right now I'm interested in modern web tech – this website is my first dabble into Node.js.
        li.skill
          h3.h3 Marketing & Business
          p I've run my own marketing agency since 2008 and I've seen things you people wouldn't believe.
        li.skill
          h3.h3 Hobbies
          p More coding, carpentry and tinkering, exploration, volunteer work, gardening, PnP RPGs, boardgame design and reggaeton.
    .bottomleft
      p.
        This design nods to:<br />
        Dieter Rams<br />
        Syd Mead<br />
        Space Odyssey 2001
    .bottomright
      p Lorem
block code
  .code.grid.grid--gutter
    .code__body
      h2.h2 Code
      p I know kung fu
    .code__snippet
      pre.
        while (y < map->mapH - 1)
        {
            x = map->mapW - 1;
            while (x > 0)
            {
                while(map->map[y][x] == '.')
                    x--;
                if (map->map[y][x] == map->psymbol)
                {
                    if ((map->mapW - x) > count)
                    {
                        map->rttargetX = map->mapW - 1;
                        map->rttargetY = y;
                        count = map->mapW - x;
                        break ;
                    }
                }
                else
                    break;
                x--;
            }
            y++;
        }
        
block design
  h2.h2 Design
  p My approach to design is to convey a message the best I can in a usable and attractive package. Graphic design – while a creative discipline – is not art, it's about reaching your tribe. 
block marketing
  h2.h2 Marketing & Business
  p I follow the path of authenticity. For me a truly successful company is one that speaks from the heart internally and to their customers. 
block experimental
  h2.h2 Experimental
  p Here are some more experimental projects I've done over the years.
block workstudies
  h2.h2 Professional timeline
  ul
    li 2001 - Graduated from Vuosaari lukio
    li 2008 - BA from Laurea University of Applied Sciences
    li 2008 - Founded Planetoidi
    li 2019 - Started studying in Hive Helsinki
