extends layout
block header
  a(href="/" class="site-logo")
    svg(class="site-logo__img")
      use(xlink:href="images/icons.svg#logo")
  a(href="#main-nav" data-nav="#main-nav" class="nav-button no-jump active")
    svg(class="icon")
      use(xlink:href="/site/templates/img/icons.svg#menu")
  nav
    ul(id="main-nav" class="nav nav--main expander--open nav--desktop")
      li
        a(class="nav-link" href="#intro") Intro
      li
        a(class="nav-link" href="#code") Code
block intro
  .intro.grid.grid--gutter
    .intro__image
      img(src="../images/tuomaslouekari.jpg" alt="Tuomas Louekari")
      h1.h1= title
      p A generalist doing good stuff for good people.
    .intro__summary
      p Lorem ipsum dolor sit amet.
      h2.h2 Skills
      ul
        li.skill
          h3.h3 C & GoLang
          p Not a pro at these but I'm learning fast
        li.skill
          h3.h3 Graphic Design
          p Lorem ipsum.
        li.skill
          h3.h3 Web development
          p Lorem ipsum.
        li.skill
          h3.h3 Marketing
          p Lorem ipsum.
        li.skill
          h3.h3 Hobbyist stuff
          p Carpentry and tinkering, exploration, volunteer work, gardening, PnP RPGs, boardgame design and siege weaponry.
    .bottomleft
      p.
        This design nods to:<br />
        Dieter Rams<br />
        Syd Mead<br />
        Space Odyssey 2001
    .bottomright
      p Lorem
block code
  h2.h2 Code
  p I know kung fu
block design
  h2.h2 Design
  p I design stuffs.
block marketing
  h2.h2 Marketing
  p I know my tribe.
block experimental
  h2.h2 Experimental
  p WebGL and stuff
block workstudies
  h2.h2 Work & Studies
  p I've worked.
