extends layout

block intro
  h1= title
  p Welcome to #{title}
block code
  h2 Code
  p I know kung fu
block design
  h2 Design
  p I design stuffs.
block marketing
  h2 Marketing
  p I know my tribe.
block experimental
  h2 Experimental
  p WebGL and stuff
block workstudies
  h2 Work & Studies
  p I've worked.
