doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    section#intro
      block intro
    section#code
      block code
    section#design
      block design
    section#marketing
      block marketing
    section#experimental
      block experimental
    section#workstudies
      block workstudies
