doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js' async)
    script(type='module' src='../javascripts/main.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header.site-header.site-header--desktop
      block header
    main.site-content
      section#intro.section
        block intro
      section#code.section
        block code
      section#design.section
        block design
      section#marketing.section
        block marketing
      section#workstudies.section
        block workstudies
