doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    header.site-header.site-header--desktop
      block header
    section#intro.section
      block intro
    section#code.section
      block code
    section#design.section
      block design
    section#marketing.section
      block marketing
    section#experimental.section
      block experimental
    section#workstudies.section
      block workstudies
